.container{
    display:flex;
    flex-direction: column;
    text-align: center;
    
    span {
        display:flex
    }
    img{
        width:20px;
    }
    .skillList{
        display:flex;
        justify-content: space-evenly;
        align-self: center;
        flex-wrap: wrap;
        row-gap: 40px;
        max-width: 26ch;
    }
    .skill{
        display:inline-grid;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 1fr;

    }
    .skill img{
        grid-row: 1/2;
        grid-column: 1/2;
        z-index:1;
        transition:opacity 1s ease-in;
    }
    hr{
        width:100px;
        height: 1px;
        border:none;
        background-color: var(--text-color);
        margin:30px auto;
        transition : background-color 1s ease-in;
    }
}

@media (width>=800px){
    .container .skillList{
        max-width: fit-content;
        gap: 30px;

        p {
            font-size: 20px;
        }
    }
    .container hr {
        width: 300px;
    }
}
